aws_profile = ""
aws_region = "ca-central-1"
service_name = ""
repository_name = ""
repository_branch_name = "main"
repository_connection_arn = ""
pipeline_role_name = ""
pipeline_notification_topic_arn = ""
artifacts_bucket_name = ""
website_bucket_name = ""
website_distribution_id = ""